.titlename{
    font-family:'Annie Use Your Telescope';
    text-align:center;
    
    font-size: 65px;
    background-color:#f95d9b;
    
    background-size:100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
body{
    background-color:#fceed1;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#39a0ca ;
  }
  
  li {
    float: left;
    padding-left:80px;
    font-family: 'Archivo Narrow';
    font-size:20px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #f95d9b;
  }